header {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
}

footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
tr:nth-child(even) {background-color: #f2f2f2;}